@import "~@blueprintjs/core/lib/css/blueprint.css";

.featureCards {
  width: 25%;
}

.featureCardsContainer {
  text-align: center;
}

.buttonDivider {
  padding-bottom: 15px;
}

.loginDivider {
  padding-bottom: 25px;
}

.loginDivider2 {
  padding-bottom: 75px;
}
